# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore virtual environment files
.venv/

# Ignore environment variables
.env
.LOGIC-README.md

.vscode
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

Dockerfile#
.ipynb_checkpoints